h2 {
    background-color: #17a2b8;
    color: black;
    padding: 10px;
}

.row {
    margin-top: 20px;
}

thead {
    background-color: white;
}

tbody tr {
    background-color: #f7f7f7;
}

td:first-child {
    font-weight: bold;
}

.series-link {
    color: #007bff;
    cursor: pointer;
}

.series-link:hover {
    text-decoration: underline;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

